*{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0;

}

.container{
}
.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(25, 42, 197, 0.349);
    flex-wrap: wrap;
    z-index:5;
    
}
.nav{
    font-weight: bold;
    text-decoration: none;
    padding: 1px 10px;
    border: 3px solid white;
    color: white;
    border-radius: 15px;
}
.nav:hover{
    border: 3px solid orange;
    color: orange;
}
body::before{
    content: "";
    background: url('bg.jpg');
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    background-repeat: no-repeat;
}
body{
    background-color: rgba(0, 0, 0, 0.322);
}
#home{
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* body{
    background-image: url(new-years-eve.jpg);
    backgr
} */
.btn{
    background-color: #201de6d5;
    padding: 7px 22px;
    border: 4px solid #20198f;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    width: 100%;
    position: relative;
    animation: shadow 1s infinite;

}
@keyframes shadow{
    from{
        box-shadow: 0px 0px 0px 0px lightblue;

    }
    to{
        box-shadow: 3px 7px 10px 10px rgb(5, 4, 80) ;
        
    }
}
.btn h3{
    font-size: 27px;

}
#input{
    border: 4px solid #1010a9f5;
    border-radius: 17px;
    background-color: #ffffff8a;
    color: white;
    /* position: relative; */
    padding: 5px 0px;
    text-align: center;
    /* bottom: 75px;
    left: 569px; */
    font-size: 25px;
    color: blue;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    text-transform: uppercase;
    cursor: pointer;
    background-color: blue;
}
#menu{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.container{
height: 570px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
justify-content:  space-evenly;
border-bottom: unset;
}
#submit{
    width: 10%;
    border: 2px solid blue;
    border-radius: 8px;
    background-color:#1010a9e0;
    font-weight: bold;
    padding: 7px 22px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
#submit:hover{
    text-transform: uppercase;
    cursor: pointer;
    background-color: blue;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.done{
    width: 180px;
    font-size: 24px;
    text-align: center;

}
.img{
height: 100px;
width: 80px;
clip-path: circle();
z-index: -2;
}
#winners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.winners{
    border: 5px solid blue ;
    border-radius: 10px;
    width: 250px;
    height: 220px;
    text-align: center;
    background-color: gray;
}
.bold{
    font-weight: bold;
}
#winners{
    height: 500px;
    
}
.container h2,h1{
    border: 2px solid orange;
    background-color: white;
    padding: 5px;
    color: orange;
    border-radius: 10px;
    opacity: 0.4;
}

#h{
    background-color:#12b5b6;
    color: darkblue;
    border: 2px solid darkblue;
    opacity: 1;
}
#line{
    display: flex;
    align-items: center;
}
#line p{
    color: white;
    font-size: 20px;
    padding-right: 1rem;
}
#btn{
    width: 35%;
}
#forBG{
    /* display: none; */
    height: 100vh;
    background-image: linear-gradient(rgba(15, 15, 15, 0.589),rgba(15, 15, 15, 0.473)), url("bg2.jpg");
    background-size: cover;
   
    
}
#random{
    display: none;
    color: #e33c17;
    font-size: 30px;
    border: 3px solid #e33c17;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.308);
    animation: luckyno 2s infinite;
}

.result{
    width: cover;
    height: 500px;
    /* display: none; */
}
#result{
    /* display: none; */
}
.res{
    width: 100%;
    height: 650px;
    display: none;
}
footer{
    background-color: rgb(6, 6, 44);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-evenly;
}
.upfooter{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.footer h2{
    color: orange;
}
.footer p{
    color: white;
}
.orange{
    color: orange;
}

#result{
    /* width: 30%; */
    height: 70px;
    color: orange;
    font-size: 100px;
    text-shadow: 3px 3px olivedrab;
}
#winners{
    display: flex;
    align-items: center;
}
#xy{
    background-color: rgb(6, 6, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}
.img{
    height: 70px;
    size: 60%;
    margin: 5px;
    cursor: pointer;
}
.para{

}
.finalwinner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: url("bingo.jpg");
    background-size: 1350px;
    
}
.finalwinner h1{
    border-color: blue;
    color: blue;
}
